<%- include('partials/header') %>
<main>
  <div class="body-img">
    <h1>Your Listings</h1>
  </div>
  <div class="listings">
    <table>
      <tr>
        <th>ADDRESS</th>
        <th>ROOMS</th>
        <th>PRICE</th>
        <th>STATUS</th>
        <th></th>
      </tr>
      <tr>
        <td>11 Bago Street, NYC</td>
        <td>4</td>
        <td>$120 per night</td>
        <td>Booked</td>
        <td>
          <button type="button" class="btn btn-info">View</button>
        </td>
      </tr>
    </table>
  </div>
</main>